<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
       <input v-model="name" v-on:change="set" name="name" placeholder="ここに件名"/><br>
       <input v-model="content" v-on:change="set" name="content" placeholder="ないよー" /><br>
       <button v-on:click="postForm">submit</button>
        <p>{{name}}</p>
        <p>{{content}}</p>
    </div>
</body>
<script>
    const onsubmit = new Vue({
        el: '#app',
        data: {
            name: '',
            content: ''
        },
        methods: {
            set: (e)=>{
                if(e.target.name === "name"){
                    this.name = e.target.value
                } else {
                    this.content = e.target.value
                }
            },
            postForm: (e) =>{
                const req = new Request('http:localhost:8080/post',
                { method: 'POST',
                  body: JSON.stringify({
                    "name": this.name,
                    "content": this.content
                  })
                })
                fetch(req)
                    .then((res)=>{
                        console.log(res)
                    })
                    .catch(() => alert('Error'))
            }
        }
    
    })
    const getForm = () =>{
        alert(onsubmit.data.name + ' ' + onsubmit.data.content)
    } 
</script>
    
</html>